{% extends 'wu/layout.html' %}
{% block title %} wu {% endblock %}

{% block top_img %} {{ prof.ava.url }}  {% endblock %}
{% block info_img %} {{ prof.ava.url }}  {% endblock %}
{% block info_text %} {{ prof.username }}  {% endblock %}
{% block style %}

        #main_r_top_content{
        padding : 0px 15px ;
        font-size : 18px;
        color : white;
    }

{% endblock %}

{% block r_settings %}
<a class="settings_text_r" href="{% url 'block' prof.id  %}">{% if prof in request.user.blacklist.all%} Разблокировать {% else %}Заблокировать {% endif %}</a>
{% endblock %}

{% block main__other_does %}

<a href="{% url 'block' prof.id  %}"> <i class="bi bi-slash-circle"></i>    {% if prof in request.user.blacklist.all%} Разблокировать {% else %}Заблокировать {% endif %}</a>
{% endblock %}

{% block main_r_top_content %}
    <p>{{ prof.username }}</p>
{% endblock %}


{% block content %}
 <ls>
     <div id="ls" class="ls__content">
        <div class="ls__chat">
            {% for i in messages %}
             <div id="full_msg{{i.id}}" class="ls__msg">
        {% if i.sent == request.user %}

                <div class="ls__msg_content ls__r">


        {% else %}
                 <div  class="ls__msg_content ls__l">

        {% endif %}

                 <div class="ls__date">{{i.date}}</div>
                 <div class="ls__msg_text" id="msg_text{{i.id}}">
                     <div class="text">{{i.text}}</div>

                     <a href="#" class="ls__settings_but" id="settings_ls{{i.id}}"> <i class="bi bi-three-dots-vertical"></i> </a>
                 </div>
                      {% if i.sent == request.user %}

                 <div class="ls__msg_settings_r">
                                <div style="width : 0px;" id="panel_ls{{i.id}}" class="ls__panel">
                            <a class="settings_text_ls settings_text_ls{{i.id}}" href="{% url 'delete_msg' i.id %}">Удалить</a>
                                </div>
                 </div>
                     {% endif %}
                </div>
                 </div>
                 {% if i.sent == request.user %}
                 <script>

document.getElementById('msg_text{{i.id}}').addEventListener('mouseenter', function(event) {
    document.getElementById('settings_ls{{i.id}}').style.opacity = '1'
});


document.getElementById('msg_text{{i.id}}').addEventListener('mouseleave', function(event) {
  document.getElementById('settings_ls{{i.id}}').style.opacity = '0'
});


     document.addEventListener('click', function(e) {

if (e.target !== document.getElementById('settings_ls{{i.id}}') && !e.target.closest('#settings_ls{{i.id}}') &&  e.target !== document.getElementById('panel_ls{{i.id}}')) {


            document.getElementById('panel_ls{{i.id}}').style.width = '0px';

    document.getElementById('panel_ls{{i.id}}').style.height = '0px';
    $('.settings_text_ls{{i.id}}').css('font-size', '0');
      $('.settings_text_ls{{i.id}}').css('color', 'rgba(235, 235, 235 , 0)');

} else if (e.target !==document.getElementById('panel_ls{{i.id}}') ) {

  if (document.getElementById('panel_ls{{i.id}}').style.width !== '0px') {



    document.getElementById('panel_ls{{i.id}}').style.width = '0px';
    document.getElementById('panel_ls{{i.id}}').style.height = '0px';
    $('.settings_text_ls{{i.id}}').css('font-size', '0');

    $('.settings_text_ls{{i.id}}').css('color', 'rgba(235, 235, 235 , 0)');
  } else {

      setTimeout(function() {
 $('.settings_text_ls{{i.id}}').css('color', 'rgba(235, 235, 235 , 1)');
}, 100);


    document.getElementById('panel_ls{{i.id}}').style.width = '250px';
    document.getElementById('panel_ls{{i.id}}').style.height = '56px';
    $('.settings_text_ls{{i.id}}').css('font-size', '16px');
  }
}});

document.addEventListener('contextmenu', function(event) {
  if (event.target !== document.getElementById('full_msg{{i.id}}') && !event.target.closest('#full_msg{{i.id}}')) {

        document.getElementById('panel_ls{{i.id}}').style.width = '0px';
    document.getElementById('panel_ls{{i.id}}').style.height = '0px';
    $('.settings_text_ls{{i.id}}').css('font-size', '0');

    $('.settings_text_ls{{i.id}}').css('color', 'rgba(235, 235, 235 , 0)');

  }
});

 document.getElementById('full_msg{{i.id}}').addEventListener("contextmenu", function(event) {
  event.preventDefault();

      setTimeout(function() {
 $('.settings_text_ls{{i.id}}').css('color', 'rgba(235, 235, 235 , 1)');
}, 100);

    document.getElementById('panel_ls{{i.id}}').style.width = '250px';
    document.getElementById('panel_ls{{i.id}}').style.height = '56px';
    $('.settings_text_ls{{i.id}}').css('font-size', '16px');

});


                 </script>
                 {% endif %}
        {%endfor%}

        </div>
             {% if request.user in prof.blacklist.all or prof in request.user.blacklist.all %}
         <div class="ls__blacklist_notf">
             <div class="ls__blacklist_u">
                 <i class="bi bi-list"></i>
             </div>
            <p>
                {% if request.user in prof.blacklist.all%}
                пользователь добавил вас в чёрный список
                {% else %}
                вы добавили пользователя в черный список
                {% endif %}
            </p>
         </div>
         {% endif %}
     </div>
     <div class="ls__add_msg">
         <div class="ls__input">
             {% if request.user not in prof.blacklist.all and prof not in request.user.blacklist.all %}
             <form autocomplete="off" id="msg_form" method="POST" action="{% url 'create_msg' %}">
                 {% csrf_token %}
                <input type="hidden" name="point" value="{{ prof.id }}">
              <input id="msg_input" name="text"  type="text" placeholder="Введите сообщение">
              </form>
             {% endif %}
         </div>
         <a href="#" onclick="document.getElementById('msg_form').submit()" class="ls__send">
             <i class="bi bi-check-lg"></i>
         </a>

     </div>
 </ls>


{% endblock %}

{% block script %}



scrolltobot('ls')
document.getElementById('msg_input').focus()
    document.getElementById('chat_{{prof.id}}').style.background = 'rgba(224, 227, 255,0.11)';




{% endblock %}