{% extends 'wu/layout.html' %}
{% block title %} wu {% endblock %}

{% block top_img %} {{ prof.ava.url }}  {% endblock %}
{% block info_img %} {{ prof.ava.url }}  {% endblock %}
{% block info_text %} {{ prof.username }}  {% endblock %}
{% block style %}

        #main_r_top_content{
        padding : 0px 15px ;
        font-size : 18px;
        color : white;
    }

{% endblock %}

{% block r_settings %}
<a class="settings_text_r" href="{% url 'block' prof.id  %}">{% if prof in request.user.blacklist.all%} Разблокировать {% else %}Заблокировать {% endif %}</a>
{% endblock %}

{% block main__other_does %}

<a href="{% url 'block' prof.id  %}"> <i class="bi bi-slash-circle"></i>    {% if prof in request.user.blacklist.all%} Разблокировать {% else %}Заблокировать {% endif %}</a>
{% endblock %}

{% block main_r_top_content %}
    <p>{{ prof.username }}</p>
{% endblock %}


{% block content %}
 <ls>
     <div id="ls" class="ls__content">
        <div class="ls__chat" id="ls_chat">


        </div>
             {% if request.user in prof.blacklist.all or prof in request.user.blacklist.all %}
         <div class="ls__blacklist_notf">
             <div class="ls__blacklist_u">
                 <i class="bi bi-list"></i>
             </div>
            <p>
                {% if request.user in prof.blacklist.all%}
                пользователь добавил вас в чёрный список
                {% else %}
                вы добавили пользователя в черный список
                {% endif %}
            </p>
         </div>
         {% endif %}
     </div>
     <div class="ls__add_msg">
         <div class="ls__input">
             {% if request.user not in prof.blacklist.all and prof not in request.user.blacklist.all %}
             <form autocomplete="off" id="msg_form" method="POST" action="{% url 'create_msg' %}">
                 {% csrf_token %}
                <input type="hidden" name="point" value="{{ prof.id }}">
              <input id="msg_input" name="text"  type="text" placeholder="Введите сообщение">
              </form>
             {% endif %}
         </div>
         <a href="#" onclick="document.getElementById('msg_form').submit()" class="ls__send">
             <i class="bi bi-check-lg"></i>
         </a>

     </div>
 </ls>


{% endblock %}

{% block script %}

$('#msg_form').submit(function(event) {
    event.preventDefault(); // Предотвращаем отправку формы по умолчанию

    // Получаем данные из формы
    var formData = $(this).serialize();

    // Отправляем AJAX-запрос
    $.ajax({
        url: $(this).attr('action'), // URL для обработки формы
        method: 'POST',
        data: formData,
        success: function(response) {
            // Обработка успешного ответа от сервера
            // Возможно, вам нужно обновить содержимое страницы или выполнить другие действия
            console.log('Сообщение успешно отправлено');
        },
        error: function() {
            // Обработка ошибки AJAX-запроса
            console.log('Ошибка при отправке сообщения');
        }
    });

    // Очищаем поле ввода после отправки сообщения
    $('#msg_input').val('');
});

        $.ajax({
            url: '/msgs/' + {{prof.id}}, // URL для обработки поиска
            method: 'GET',
            success: function(data) {
                // Обработать полученные результаты поиска
                $('#ls_chat').html(data);
            },
            error: function() {
                // Обработать ошибку AJAX-запроса
                console.log('Ошибка при выполнении поиска');
            }
        });

setInterval(function() {
        $.ajax({
            url: '/msgs/' + {{prof.id}}, // URL для обработки поиска
            method: 'GET',
            success: function(data) {
                // Обработать полученные результаты поиска
                $('#ls_chat').html(data);
            },
            error: function() {
                // Обработать ошибку AJAX-запроса
                console.log('Ошибка при выполнении поиска');
            }
        });
}, 5000);

scrolltobot('ls')
document.getElementById('msg_input').focus()
    document.getElementById('chat_{{prof.id}}').style.background = 'rgba(224, 227, 255,0.11)';




{% endblock %}