{% extends 'wu/layout.html' %}
{% block title %} {{prof.username}} {% endblock %}

{% block top_img %} {{ prof.ava.url }}  {% endblock %}
{% block info_img %} {{ prof.ava.url }}  {% endblock %}
{% block info_text %} {{ prof.username }}  {% endblock %}
{% block style %}

        #main_r_top_content{
        padding : 0px 15px ;
        font-size : 18px;
        color : white;
    }

{% endblock %}

{% block r_settings %}
<a class="settings_text_r" href="{% url 'block' prof.id  %}">{% if prof in request.user.blacklist.all%} Разблокировать {% else %}Заблокировать {% endif %}</a>
{% endblock %}

{% block main__other_does %}

<a href="{% url 'block' prof.id  %}"> <i class="bi bi-slash-circle"></i>    {% if prof in request.user.blacklist.all%} Разблокировать {% else %}Заблокировать {% endif %}</a>
{% endblock %}

{% block main_r_top_content %}
    <p>{{ prof.username }}</p>
{% endblock %}


{% block content %}
 <ls>
     <div id="ls" class="ls__content">
        <div class="ls__chat" id="ls_chat">

            {% for i in messages %}
  <p>{{i.sent}} : {{i.text}}</p>
        {%endfor%}

        </div>
             {% if request.user in prof.blacklist.all or prof in request.user.blacklist.all %}
         <div class="ls__blacklist_notf">
             <div class="ls__blacklist_u">
                 <i class="bi bi-list"></i>
             </div>
            <p>
                {% if request.user in prof.blacklist.all%}
                пользователь добавил вас в чёрный список
                {% else %}
                вы добавили пользователя в черный список
                {% endif %}
            </p>
         </div>
         {% endif %}
     </div>
     <div class="ls__add_msg">
         <div class="ls__input">
             {% if request.user not in prof.blacklist.all and prof not in request.user.blacklist.all %}
             <form autocomplete="off" id="msg_form" method="POST" action="#">
                 {% csrf_token %}
                <input type="hidden" name="point" value="{{ prof.id }}">
                 <input type="hidden" name="channel" value="{{ channel.id }}">
              <input id="msg_input" name="text"  type="text" placeholder="Введите сообщение">
              </form>
             {% endif %}
         </div>
             <a href="#" id="msg_but" class="ls__send">
             <i class="bi bi-check-lg"></i>
         </a>

     </div>
 </ls>


{% endblock %}

{% block script %}


const msgForm = document.getElementById('msg_form');


function msg_submit(){

input_area = document.getElementById('msg_input')
    if (input_area.value.length === 0) return;
    ws.send(JSON.stringify({
    "message": input_area.value,
    }));
    input_area.value = "";

}

document.getElementById('msg_but').addEventListener('click', function(event) {
  event.preventDefault();
    msg_submit();
});



msgForm.addEventListener('submit', function(event) {

 event.preventDefault();

msg_submit();







});





scrolltobot('ls')
document.getElementById('msg_input').focus()
    document.getElementById('chat_{{prof.id}}').style.background = 'rgba(224, 227, 255,0.11)';


function connect() {
    ws = new WebSocket("ws://" + window.location.host + "/ws/ls/" + '{{ channel.id }}'     + "/");

        ws.onopen = function(e) {
            console.log("Successfully connected");
        }

    ws.onclose = function(e) {
        console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
        setTimeout(function() {
            connect();
        }, 2000);
    };

    ws.onmessage = function(e) {
        const data = JSON.parse(e.data);

            switch (data.type) {
        case "chat_message":

            var newElement = document.createElement('p');
            newElement.textContent = data.user + " : " + data.message;
            document.getElementById('ls_chat').appendChild(newElement);
            break;
        default:
            console.error("Unknown message type!");
            break;

    }
scrolltobot('ls')};

    ws.onerror = function(err) {
        console.log("WebSocket encountered an error: " + err.message);
        console.log("Closing the socket.");
        ws.close();
    }
}

connect();
{% endblock %}